<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.til.wtcr_service.mapper.ArticleMapper">

    <resultMap id="BaseResultMap" type="com.til.wtcr_service.pojo.Article">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="authorId" column="author_id" jdbcType="INTEGER"/>
            <result property="editorsId" column="editors_id" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
            <result property="visibility" column="visibility" jdbcType="INTEGER"/>
            <result property="customTags" column="custom_tags" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="publishDate" column="publish_date" jdbcType="TIMESTAMP"/>
            <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
            <result property="viewCount" column="view_count" jdbcType="INTEGER"/>
            <result property="commentCount" column="comment_count" jdbcType="INTEGER"/>
            <result property="likeCount" column="like_count" jdbcType="INTEGER"/>
            <result property="dislikeCount" column="dislike_count" jdbcType="INTEGER"/>
            <result property="shareCount" column="share_count" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,author_id,editors_id,
        type,visibility,custom_tags,
        create_time,publish_date,update_date,
        view_count,comment_count,like_count,
        dislike_count,share_count
    </sql>
</mapper>
